/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 96%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-flow: column;
  background-image: url(https://i.imgur.com/HB9SnJ3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.h-item {
  flex-grow: 1 1 10%;
  margin: 5vh auto;
  font-weight: bold;
}

.hello {
  font-size: 10vw;
  font-family: "Jura", sans-serif;
  color: #000000c0;
}

.myname {
  color: rgba(175, 197, 226, 0.986);
  font-size: 4vw;
  font-family: "Jura", sans-serif;
  /* font-family: 'Signika', sans-serif; */
}

.name {
  font-family: "Jura", sans-serif;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: #0a50a4;
  color: #7db1f0;
}
.lastname {
  font-family: "Jura", sans-serif;
  background: #bfdafa;
  color: #0a50a4;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
}


nav {
	display: flex;
  justify-content: space-between;	
  background-color: #0a50a4;

 
 
}
nav ul {
  display: flex;
 
  
  
}

nav ul li {
  flex-grow: 1;
  background-color: #0a50a4;
}



.nav-link {
  font-family: "Jura", sans-serif;
  color: #f3f7fe;
  font-size: 1em;
  border-bottom: 5px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.4s;
  -webkit-transition: all 0.25s;
  /* background-color: #a33; */
  padding: 5px;
  margin: 0 10px;
  display: block;
  

  
}
.nav-link:hover {
  color: #bfdafa;
  letter-spacing: .1em;
}

#contact { 
  list-style-type: none;
  
}
.contact2 {
  display: none;
}

@media screen and (max-width:620px) {
.contact {
  display: none;
}
.contact2 {
  display: unset;
}
nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #0a4fa4e1;
 
}

nav ul{
  flex-direction: column;
  
  
}
nav ul li {
  padding: 5px;
  align-self: center;
  background-color: transparent;
  
}

}
