html {
  scroll-behavior: smooth;
}


/* Navbar Properties */

#nav-skeleton {
    background-color: #112d4e;
}

.toggle-customize {
    border-color: #dbe2ef !important;
    
    
}

#nav-skeleton .nav-link {
    color: #dbe2ef !important;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
}


#nav-skeleton .nav-link:hover {
    color: #f9f7f7 !important;
    font-family: Ubuntu, sans-serif;
    border-bottom-color: #dbe2ef; 
    
}

/* Header Properties */

#header-section {
   /*  background-color: #6c5ce7; */
   background-image: url(https://i.imgur.com/HB9SnJ3.jpg);
   background-repeat: no-repeat;
   background-color: #0a50a4;
   background-size: cover;
   background-attachment:scroll;
   background-position: center;
   height: 100vh;

    
}
#header-text {
    height: 90vh;
}
#header-section h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    
    
}

#header-section h1:nth-child(1) {
    color: #f9f7f7;    
  }


#header-section h1:nth-child(2) {
    color: #112d4e;
    background: #dbe2ef11;  
    font-size: 3.5rem; 
  }



/* About Section Button */

#download-btn .btn{
    font-size: 1.5rem;
}


/* sm-md responsive property */

@media screen and (max-width:992px) {
    .nav-link:hover {
        border-bottom-color: transparent;
    }

    .navbar-position {
        position: static;
    }

     #nav-skeleton {
    background-color: #112d4e !important;
    
   }
}

/* for large screen responsive property */

@media screen and (min-width:992px) {

   #nav-skeleton {

    background-color: transparent;
    padding-bottom: 50px;

    }

    #contact .contact-label-1 {
        margin-right: 8.75%;
    }

#about, #skill, #projects, #experiences, #contact

 {
   padding-top: 5% !important;
 }

}

/* for small devices responsive layout */

@media screen and (max-width:640px) {
    .car-custom h5, .car-custom p {
      font-size: 0.8rem;
     
    }
    #header-section h1 {
        font-size: 3rem;     
    }

    #experiences li.nav-item.btn {
        padding: 0;
        margin: 0;
      
    }

    #experiences a.nav-link.badge{
        padding: 0.75rem !important;
        margin: 0 !important;
      
    }
  }


  #above-top {
    background-color:transparent;
    height: 50px;
    width: 50px;
    transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}



  /* MDB Bootstrap CSS */

  .hoverable {
      background-color:none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.55s ease-in-out;
      -o-transition: all 0.55s ease-in-out;
      transition: all 0.55s ease-in-out;
  }

  .hoverable:hover {
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-transition: all 0.55s ease-in-out;
      -o-transition: all 0.55s ease-in-out;
      transition: all 0.55s ease-in-out;
  }

  
  .note {
    padding: 10px;
    border-left: 6px solid;
    border-right: 6px solid;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .note strong {
      font-weight: 600; }
    .note p {
      font-weight: 500; }
    .note.note-primary {
      background-color: #dfeefd;
      border-color: #176ac4; }
    .note.note-secondary {
      background-color: #e2e3e5;
      border-color: #58595a; }
    .note.note-success {
      background-color: #e2f0e5;
      border-color: #49a75f; }
    .note.note-danger {
      background-color: #fae7e8;
      border-color: #e45460; }
    .note.note-warning {
      background-color: #faf4e0;
      border-color: #c2a442; }
    .note.note-info {
      background-color: #e4f2f5;
      border-color: #2492a5; }
    .note.note-light {
      background-color: #fefefe;
      border-color: #0f0f0f; }
